{% extends 'app_base.html.twig' %}

    {% block body %}
        <div class="container">
            <div class="mainheader">
                <div class="title">narzędzia</div>
                <div class="title2" >– ogarniam się</div>

            </div>
        </div>
    {% endblock %}